<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
         </head>
        <body>
            {{>header}}
           <p>This data is taken from mapbox and darksyk net</p>
            {{>footer}}
        </body>
   
</html>
